<div th:fragment="boardFrag" id="board" xmlns:th="http://www.w3.org/1999/xhtml">

    <input type="hidden" id="gameId" th:value="${game.id}">

    <div style="margin-top:2%; height: 90vh;width: 90vw;margin:0 auto;background-color:green;border: black solid 3px">
        <div class="row" style="height:20%">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="row" style="width:100%;height:100%">
                    <div class="col-md-6" style="display: flex;justify-content: center;align-items: center;width:100%;">
                        <th:block th:if="${game.stack.cardsInStack}">
                            <div style="height:90%;width:100%;margin:0 auto;display: flex;justify-content: center;align-items: center;">
                                <div th:replace="fragments/card-vertical :: cardFrag(cardDto=null, cardAction=false)"/>
                            </div>
                        </th:block>

                        <h1 th:if="${!game.stack.cardsInStack}" class="stackCard"
                            style="color:white;text-align:center;vertical-align: middle;cursor: pointer;">
                            EMPTY
                        </h1>
                    </div>
                    <div class="col-md-6" style="display: flex;justify-content: center;align-items: center;width:100%;">
                        <th:block th:if="${game.stack.card!=null}">
                            <div style="height:90%;width:100%;margin:0 auto;display: flex;justify-content: center;align-items: center;">
                                <div th:replace="fragments/card-vertical :: cardFrag(cardDto=${game.stack.card}, cardAction=true)"/>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">

                <div class="row" style="height: 100%">
                    <div class="col-md-3" th:each="cardGroup : ${game.cardsGroups}"
                         style="display: flex;justify-content: center;align-items: center;">
                        <th:block th:if="${cardGroup.value==null}">
                            <div style="border-radius:5%; border: 2px solid white;height:90%;width:50%;margin:0 auto;">
                            </div>
                        </th:block>
                        <th:block th:if="${cardGroup.value!=null}">
                            <div style="height:90%;width:50%;margin:0 auto;display: flex;justify-content: center;align-items: center;">
                                <div th:replace="fragments/card-vertical :: cardFrag(cardDto=${cardGroup.value}, cardAction=false)"/>
                            </div>
                        </th:block>
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="height:80%">

        </div>
    </div>
</div>